<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Potwierdzenie anulowania wizyty</title>
</head>
<body>
<p>Cześć <span th:text="${name}">[Imię]</span>!</p>
<p>Twoja rezerwacja XYZ w terminie <span th:text="${startDate}">[Data]</span> na godzinę <span th:text="${startTime}">[Godzina]</span>
    została anulowana.</p>
<p>Jeśli ta wiadomość została otrzymana przypadkowo proszę skontaktuj się ze mną.</p>
<p>Do zobaczenia!</p>
<p>Pozdrawiam</p>
<p>XYZ</p>
</body>
</html>
